<hr>
<div class="container-fluid w-100 bg-light">
    <div class="justify-content-center row w-100 py-3 mx-auto">
        <div class=col-12>
        <a routerLink="/patient/request"><button class="float-left btn-steps">New request treatment</button></a>
    </div>
      <h1>Your treatment requests</h1>
        <div routerLink="/patient/treatment/{{item.id}}" *ngFor="let item of items" class="box col-11 card my-2 mx-5">
        <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th class="col-4">Patient name</th>
                <th class="col-6">Symptom list</th>
                <th class="col-2">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{item.patientName}}</td>
                <td>{{item.symptomNames}}</td>
                <td>{{item.status}}</td>
              </tr>
            </tbody>
          </table>
            
        </div>
        </div>
    </div>
  </div>
<a routerLink="/patient/request/{{items[1].id}}"><button class="float-right btn-steps">Go to Ápolás</button></a>

