<div class="container-fluid w-100 bg-light">
  <div class="justify-content-center row w-100 p-3">

      <div class="col-12 p-4 mb-3"></div>
      <div class="col-8" id="right">
          <h1>Search for symptoms</h1>

          <form action="" method="post">
              <input type="text" class="form-control mb-3" name="search" id="search" placeholder="Search for symptoms...">
          </form>
       </div>


       <div *ngIf="first; then thenBlock else elseBlock"></div>
       <ng-template #thenBlock>
         <app-choose [items]="dataFromServer" (newItemEvent)="updateData($event)"></app-choose>
        </ng-template>
       <ng-template #elseBlock>
         <app-comment [items]="dataToComment" (newItemEvent)="postRequest($event)"></app-comment>
        </ng-template>

        <div class="col-12 p-4 mb-3">
          <button id="back" style="display: none" class="float-left btn-steps" (click)="onClick()">Back</button>
          <button id="next" class="float-right btn-steps" (click)="onClick()">Next</button>
          <a routerLink="/patient/main"><button id="submit" style="display: none" class="float-right btn-steps">Submit</button></a></div>
  </div>
</div>


