.form-check-input {
    left: 90%;
}

.btn-steps {
    background-color: rgb(255, 255, 255);
    color: rgb(23, 23, 64);
    font-size: 30px;
    font-variant: small-caps;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 1px;
}