.form-check-input {
    left: 90%;
}

.btn-steps {
    background-color: rgb(146, 194, 235);
    color: rgb(17, 17, 23);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}