<p>patient-treatments works!</p>
<div class="container-fluid w-100 bg-light">
    <div class="justify-content-center row w-100 p-3">
       <div class="col-12"><br></div>

        <div class="box col-8 card my-2 mx-4">
            <div class="card-body">
                <img class="float-right" src="../../assets/charity-icons-png-.png" alt="treatment-icon">
                <h5 class="card-title">Treeatment nme</h5>
                <p class="card-text text-justify">Treatment description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec tincidunt turpis. Mauris interdum dui vitae urna accumsan semper. Vestibulum ornare venenatis nibh sit amet lacinia. Aliquam tempus erat at magna accumsan venenatis. Proin eu arcu ac risus vestibulum ornare. Aliquam erat volutpat. Quisque vitae lacus tristique erat rhoncus mattis vel sit amet lorem.

                    Quisque aliquam placerat elit id vulputate. Vivamus purus lectus, hendrerit eu felis a, accumsan tincidunt urna. Praesent rutrum quis mi eleifend facilisis. Vestibulum at nunc non leo rutrum rutrum. Curabitur maximus neque sem, a feugiat justo auctor vel. Donec sit amet libero vel orci tempus molestie id eu elit. Fusce eu lectus a neque blandit pretium. Nulla porttitor aliquet justo vitae facilisis. In vitae aliquam massa, vitae aliquam velit. Pellentesque feugiat dapibus erat, ornare imperdiet nisl egestas et. Nulla facilisi.</p>
            </div>
        </div>
<div class="col-12">
<a routerLink="/patient/main"><button class="float-left btn-steps">Back</button></a>
</div>
    </div>

  </div>
