<div class="container-fluid w-100 bg-light">
    <div class="justify-content-center row w-100 p-3">
       <div class="col-12"><br></div>

        <div *ngFor="let item of items" class="box col-8 card my-2 mx-4">
            <div class="card-body">
                <img class="float-right" src="../../assets/charity-icons-png-.png" alt="treatment-icon">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text text-justify">Treatment description: {{item.description}}</p>
            </div>
        </div>
<div class="col-12">
<a routerLink="/patient/main"><button class="float-left btn-steps">Back</button></a>
</div>
    </div>

  </div>
