<!-- Card -->
<div class="container-fluid w-100 bg-light">
    <div class="row w-100 p-3">
        
        <div class="w-100 col-12 justify-content-center">

            <!-- Card image -->
            <div id="btn-box" class="col-12 overlay">
              <img class="col-12 card-img-top" src="../assets/icc.jpg"
                alt="Card image cap">
                <a routerLink="/patient/main"><button class="btn1">Patient</button></a>
                <a routerLink="/doctor"><button class="btn2">Doctor</button></a>
              <!-- <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a> -->
              
            </div>
          
            
          
           </div>
    </div>

</div>


