body {
    // background-image: url('../../assets/icc.jpg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}



#btn-box {
    position: relative;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
#btn-box img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding: 0;
    margin: 0;
    
}

#btn-box .btn1 {
    position: absolute;
    top: 45%;
    left: 30%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: rgb(23, 23, 64);
    font-size: 30px;
    font-variant: small-caps;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 1px;
    text-shadow: 2px 2px;
}

#btn-box .btn2 {
    position: absolute;
    top: 45%;
    right: 30%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: rgb(23, 23, 64);
    font-size: 30px;
    font-variant: small-caps;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 1px;
    text-shadow: 2px 2px;
}