<div class="container-fluid w-100 bg-light">
    <div class="justify-content-center row w-100 p-3">
  
  
      <div  *ngFor="let item of items" class="col-11 card my-2 mx-2">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">{{item.description}}</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <h5>Severity </h5>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                          1
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          2
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                        <label class="form-check-label" for="exampleRadios3">
                         3
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                          4
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                          5
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Start date </h5>

                <input type="date" id="start" name="trip-start"
                    value="2021-01-01"
                    min="2021-01-01" max="2023-01-01">
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
