<div class="container-fluid w-100 bg-light">
    <div class="justify-content-center row w-100 py-3 mx-auto">
        <div class="col-8" id="right">
            <br>
            <h1>Treatments</h1>
  
            <form action="" method="post">
                <input type="text" class="mb-3 col-8" name="search" id="search" placeholder="Search for treatments...">
                <a href="#" class="btn btn-primary pull-right mx-2">Auto-treatment</a>
                <a href="#" class="btn btn-primary pull-right mx-2">All treatments</a>
            </form>
         </div>

      <div  *ngFor="let item of items" class="box col-11 card my-2 mx-5">
        <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th class="col-1">#</th>
                <th class="col-3">Patient name</th>
                <th class="col-5">Symptom list</th>
                <th class="col-3">Severity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>lol</td>
                <td>lol</td>
                <td>nemtomittmileszmég</td>
              </tr>
            </tbody>
          </table>
            
        </div>

      </div>
    </div>
  </div>


doktor lista kártyák 
patient name - összefoglalás symptoms - severity - open closed


evaluate page:
patient metadata
symptoms with comments

search bar mint patientnek - treatmentekkel 
treatment pack auto treatmentből
    auto treatment - all gombok
